.container{
  text-align: center;
  width: 80%;
  height: 60%;
}

input{
  margin-top: 20%
}

button{
  height: auto;
  width: 10%;
}

html{
  background-color: #89CFF0;
  height: 100vh;
  width: 100vw;
}
