<!DOCTYPE html>
<html>
<head>
    <title>
      GotBot Input
    </title>
</head>
<body>
<div class="container">
  <form>
    <div *ngIf = "nameInput()">
      <input type="text" placeholder="Name"/>
      <br/>
      <button type="button" (click)="inc()">Submit</button>
    </div>

    <div *ngIf = "emailInput()">
      <input type="email" placeholder="Email"/>
      <br/>
      <button type="button"  (click)="inc()">Submit</button>
   </div>

    <div *ngIf = "cellInput()">
      <input type="number" placeholder="Phone Number" maxlength="10" />
      <br/>
      <button type="button"  (click)="inc()">Submit</button>
   </div>
  </form>
  </div>

</body>
</html>
