.container{
  text-align: center;
  width: 80%;
  height: 60%;
}

.results{
    position: relative;
    text-align: center;
    background-color: lime;
    border-color: black;
    width: 17%;
    margin-top: -22%;
    margin-left: 32%;
}

input{
  margin-top: 20%
}

button{
  height: auto;
  width: 10%;
}

body{
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
}
